{%load static%}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <!-- stylesheet-->
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <!-- gsap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/gsap.min.js"></script>
  </head>
  <body>
    <!-- page-wrapper -->
    <div class="page-wrapper">
      <!-- header -->
      <header class="header -wide">
        <div class="header__container -tension_l">
          <h1 class="header__title"><span class="-color_main">STRAVA</span> JOIN</h1>
          <div class="header__subheader">
            <a href="{%url 'accounts:login'%}" class="btn-normal -ml32">ログイン</a>
          </div>
        </div>
      </header>
      <!-- contents-formatter -->
      <div class="contents-formatter -wide">
        <div class="circles-and-form-wrapper -tension_m">
          <!-- circles -->
          <div class="circles">
            <div class="circle-from-left circle"></div>
            <div class="circle-from-right circle"></div>
          </div>
          <!-- form-wrapper -->
          <div class="form-wrapper">
            <!-- form -->
            <!-- signup -->
            <form action="{%url 'accounts:signup'%}" method="POST" class="form signup">{%csrf_token%}
              <h2 class="form__title -mb32">STRAVAのメールアドレスとパスワードで<br>登録しよう</h2>
              <div class="-mb24">
                <p>メールアドレス</p>
                <input type="email" name="email" placeholder="email" class="signup__input-email form__input input-main">
                <p class="signup__warning-email -color_red -hidden">メールアドレスが間違っています。</p>
              </div>
              <div class="-mb32">
                <div class="-mb8">
                  <p>パスワード</p>
                  <input type="password" name="password" placeholder="password" class="signup__input-password form__input input-main">
                </div>
                <div>
                  <p>確認用パスワード</p>
                  <input type="password" placeholder="password" class="signup__input-confirmPassword form__input input-main">
                </div>
                <p class="signup__warning-password -color_red -hidden">パスワードが合致しません。</p>
              </div>
              {%if notRegistered%}
              <p class="signup__warning-stravaUnregistered -color_red -mb32 ">あなたはSTRAVAに登録していません。</p>
              {%endif%}
              {%if alreadyRegistered%}
              <p class="signup__warning-stravajoinRegistered -color_red -mb32 ">あなたは既にSTRAVA JOINに登録しています。</p>
              {%endif%}
              <button type="submit" class="signup__btn-submit form__btn-submit btn-normal">登録</button>
            </form>
          </div>
        </div>
      </div>
      <!-- footer -->
      <footer class="footer -wide">
        <div class="footer__container -tension_l">
          <small>&copy; 2022 STRAVA JOIN (非公式)</small>
        </div>
      </footer>
    </div>
    
    <script src="{% static 'js/animation.js'%}"></script>
    <script src="{% static 'js/signup.js'%}"></script>
  </body>
</html>